@media (max-width: 1800px) {
  body {
  font-family: 'Abel', sans-serif;
  font-size: small;
}

h2 {
  font-family: 'Abel', sans-serif;
  color: #83C5BE;
  font-size: smaller;
  text-align: center;
}

h1 {
  color: #006D77;
  font-size: medium;
  text-align: center;
}

p {
 color: #E29578;
 text-align: center;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: auto;
}

div {
  background: white;
  border-radius: 7px;
  box-shadow: 0.5px 0.5px 10px #006D77;
  width: 300px;
  margin: 0 auto;
}

.list-inline {
  display: inline-block;
  padding: 0px 20px;
  list-style-type: none;
}

.card {
  text-align: center;
}

ul {
  padding-left: 0;
}
}

@media (max-width: 940px) {
  body {
  font-family: 'Abel', sans-serif;
  font-size: small;
}

h2 {
  font-family: 'Abel', sans-serif;
  color: #83C5BE;
  font-size: smaller;
  text-align: center;
}

h1 {
  color: #006D77;
  font-size: small;
  text-align: center;
}

p {
 color: #E29578;
 text-align: center;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: auto;
}

div {
  background: white;
  border-radius: 7px;
  box-shadow: 0.5px 0.5px 10px #006D77;
  width: 200px;
  margin: 0 auto;
}
a:hover {
  text-decoration: underline;
}

.list-inline {
  display: inline-block;
  padding: 0px 10px;
  list-style-type: none;
}

.card {
  text-align: center;
}

ul {
  padding-left: 0;
}
}
@media (max-width: 720px) {
  body {
  font-family: 'Abel', sans-serif;
  font-size: smaller;
}

h2 {
  font-family: 'Abel', sans-serif;
  color: #83C5BE;
  font-size: smaller;
  text-align: center;
}

h1 {
  color: #006D77;
  font-size: smaller;
  text-align: center;
}

p {
 color: #E29578;
 text-align: center;
}

img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: auto;
}

div {
  background: white;
  border-radius: 7px;
  box-shadow: 0.5px 0.5px 10px #006D77;
  width: 150px;
  margin: 0 auto;
}

.list-inline {
  display: inline-block;
  padding: 0px 10px;
  list-style-type: none;
}

.card {
  text-align: center;
}

ul {
  padding-left: 0;
}
}
